.home .banner {
    margin: auto;
}

.home_bloc {
    background: #F7F7F7;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    max-width: 1240px;
    margin-top: 50px;
    margin-bottom: 50px;

    &_page {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &_href {
            max-width: 340px;
            max-height: 340px;
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .home_bloc_page_href{
        max-width: 335px;
        height: 255px;
    }
}